@font-face {
	font-family: 'Monserrat';
	src: url(./Assets/fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  background-color: rgb(0, 0, 0) !important;
  font-family: Monserrat !important
  
  ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

#header_hub_cinema{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

#navbar_block{
  margin: 5px 50px;
  padding-top: 10px;
  padding-bottom: 10px !important;
  background-color: rgba(48, 27, 63, .4) !important ;
  
}

#search_block{
  display: flex;
}

#input_search_bar{
  width:800px;
}

#search_button{
  background-color: rgb(48, 27, 63);
  border: none;
  color: white;
}

#text_navbar{
  color: white !important;
}

#search_button:hover{
  width: 110px;
}

#input_search_bar:focus{
  outline: 7px ridge rgba(48, 27, 63, .6);
  border-radius: 2rem;

}

#titre_navbar{
  color: white;
  font-size:25px;
}


#film_card{
  margin: 15px 15px 0px 15px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.details_button{
  width: 80px;
  margin-left: 80px;
  text-align: center;
  padding: 7px 2px;
  background-color: rgb(48, 27, 63);
  color: white;
  border-radius: 5px;
}

.details_button:hover{
  cursor: pointer;
}

#film_slide{
  display: grid;
 grid-template-columns: repeat(3, 100%);
 overflow: hidden;
 scroll-behavior: smooth;

 width: 100%;
 position: relative;
 display: grid;
 grid-template-columns: repeat(4, auto);
 margin: 20px 0;
}

#carousel_popular_film{
  margin: 50px;
}

.titre_des_carousel{
  margin-left: 40px;
  margin-bottom: 40px;
  color: white !important;
  letter-spacing: 4px;
}

#text_navbar{
  color: white !important;
}

#card_film{
  background-color: black;
  color: white;
}

.footer_block{
  background-color: rgba(48, 27, 63, .4) !important ;
  color: white;

}

#footer_content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 15px;
  width: 1300px;
}

#logo_hub_cinema_footer{
  width: 70px;
}